.login-logo             /*LOGIN*/
{
text-align: center;
text-decoration: none;
color: rgb(95, 29, 95);
font-size: 3rem;
font-family: Arial, Helvetica, sans-serif;
}

.login-anuncio
{
text-align: center;
text-decoration: none;
font-family:"Inter";
font-size: 1.5rem;
font-weight: 200;
color: #333;
}
.logo-formulario-contenedor
{
display: flex;
align-items: center;
flex-direction: column;
background-color: white;
width: 30%;
position: relative;
left: 35%;
margin-bottom: 5%;
border-radius: 5px;
border-radius:300px 300px 0 0 ;
box-shadow: 0 2px 4px rgba(0, 0, 0, .6), 0 8px 16px rgba(6, 6, 6, .6);
}
.login-inputs
{
margin-bottom: 4%;
margin-top: 4%;
height: 3rem;
font-size: 17px;
border-color: #f0f2f5;
border-radius: 5px;
width: 150%;
position: relative;
display: flex;
left: -25%;
}
.login
{
  background-color: #f0f2f5;
}
.login-boton-a
{
  border: none;
  margin-bottom: 1%;
  height: 2.5rem;
  margin-top: 4%;
  width: 93%;
  border-radius: 6px;
  background-color: rgb(33, 52, 116);
  font-size: 1.2rem;
  color: rgb(243, 243, 243);
}
.login-boton-b
{
  border: none;
  margin-bottom: 5%;
  height: 2.5rem;
  margin-top: 0%;
  width: 93%;
  border-radius: 6px;
  background-color: rgb(33, 52, 116);
  font-size: 1.2rem;
  color: rgb(243, 243, 243);
}
.login-boton-a:hover
{
  background-color: #0866ff;
}
.icon{
  border-radius: 60%;
}
.login-boton-b:hover
{
  background-color: #0866ff;
}
.logo-formulario-contenedor2
{
display: flex;
align-items: center;
flex-direction: column;
background-color: white;
width: 30%;
position: relative;
left: 35%;
margin-top: 10%;
border-radius: 5px;
box-shadow: 0 2px 4px rgba(0, 0, 0, .6), 0 8px 16px rgba(6, 6, 6, .6);
}

