.body-compras
{
  background-image: url("https://quaderno-cms.s3.eu-west-1.amazonaws.com/Proceso_de_compras_online_y_como_optimizarlo_aba9add57f.png");
  background-size: cover;
  padding-bottom: 14vw;
  background-position: top center;
  height: 69.3vh;
}

.comprar-anuncio
{
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-decoration: none;
  font-size: 2.2rem;
  font-weight: 400;
  color: rgb(0, 0, 0);
  width: 100vw;
  height: 2%;
  padding-bottom: 3%;
  text-align: center;
  background-color: rgba(40, 100, 139, 0.651);
  border-bottom: solid 2px;
}

.formulario-compra{ 
  width: 60vw;
  position: relative;
  left: 20%;
  margin-top: 2%;
  background-color: rgba(55, 105, 197, 0.336);
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 1%;
  border: solid 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .6), 0 8px 16px rgb(6, 6, 6);
}

.imagen-compra {
  position: relative;
  top: 10%;
  border-radius: 5px;
  width: 25%;
  box-shadow: 0 2px 4px rgb(0, 0, 0), 0 8px 16px rgb(6, 6, 6);
}
.label-formulario{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: start;
  background-color: rgb(48, 105, 151);
  color: white;
  border-radius: 0.2rem;
  margin-top: 3%;
  width: 30vw;
  position: relative;
  padding: 0.2%;


}
.contenedor-label-formulario-b {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  text-align: center;
  width: 22vw;
  position: relative;
  left: -1vw;
  gap: 1vw;  
  margin-top: 2vh;
  flex-direction: row; /* Cambiado de column a row */
}
.label-formulario-b{
  background-color: rgb(48, 105, 151);
  color: white;
  border-radius: 0.2rem;
}

.input-compras-a
{
  border: none;
  text-decoration: none;
  font-family: "Inter";
  margin-top: 0.2%;
  margin-bottom: 2px;
  height: 2rem;
  width: 50%;
  border-radius: 5px;
  flex-direction: row;
  justify-content:space-between;
  display: flex;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.979), 0 8px 16px rgba(6, 6, 6, .6);
  background-color: #f0f2f5;
}
.contenedor-inputs-b
{
  display: flex;
  text-align: center;
  width: 20vw;
  position: relative;
  left: -2vw;
  gap: 1vw;  
  margin-top: 0.3vh;
  gap: 10zvw;
  flex-direction: row; /* Cambiado de column a row */
}
.input-compras-b
{
  border: none;
  width: 50vw;
  height: 2rem;
  border-radius: 5px;
  background-color: #f0f2f5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.986), 0 8px 16px rgba(6, 6, 6, .6);

}
.boton-compra{
  width: 40%;
  border: none;
  background: none;
  font-family: Inter;
  background-color: rgba(12, 77, 12, 0.897);
  color: white;
  border-radius: 5px;
  height: 2rem;
  margin-top: 5%;
  margin-bottom: 5%;
  cursor: pointer;
}
.boton-compra:hover
{
  background-color: rgb(66, 196, 94);
}